version: '3.9'

services:
  postgres:
    container_name: postgres
    image: postgres:latest
    restart: always
    env_file:
      - .env.docker
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - app-network

  app:
    container_name: chat-backend
    build: .
    restart: always
    env_file:
      - .env.docker
    depends_on:
      - postgres
    ports:
      - "3000:3000"
    networks:
      - app-network

  migrations:
    container_name: chat-backend-migrations
    build: .
    env_file:
      - .env.docker
    depends_on:
      - postgres
    command: npx prisma migrate deploy
    restart: no
    networks:
      - app-network  

volumes:
  postgres_data:

networks:
  app-network: